* {
  box-sizing: border-box;
}

body {

  background-color: #fffff0;
  color: #003;
  font-family: "Work Sans", sans-serif;
}

header, footer {
  background-color: #8f8f8f;
  color: #fc1;
  font-family: "Space Mono", sans-serif;
}

header h1 {
  margin-top: 0;
  color: #003;
}

body a {
  color: #003;
}

header a, footer a {
  color: #ccc;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: .5em;
  padding-bottom: .5em;
}



a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media only screen and (min-width: 640px;) {
   section {
    padding-left: 10%;
    padding-right: 10%;
  }

}
