* {
  box-sizing: border-box;
}
.template {
  display: none;
}
body {

  background-color: #E2DFDE;
  color: #000;
  font-family: "Work Sans", sans-serif;
}

header {
  background-color:  #84ACB6;
  color: #6E7376;
  font-family: "Space Mono", sans-serif;
}


footer {
  background-color: #7C9963;
  color: #000;
  font-family: "Space Mono", sans-serif;
}

header h1 {
  margin-top: 0;
  color: #003;
}
