header {
  padding-top: 1em;
  text-align: center;

}

header img {
  max-width: 80%;
  border-radius: 10%;
}

header h1 {
  font-size: 2.5em;
}
body a {
  color: #003;
}

header ul {
  width: 100%;
  background-color: #EEB6B7;
}

header a {
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.5em;
}

section img {
  max-width: 90%;
  margin: auto;
}



a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}



@media only screen and (min-width: 640px) {

  header {
    text-align: left;
  }
  header li {
    display: inline-block;
  }

  header img {
    width: 25%;
    border-radius: 10%;
    display: inline-block;
  }

  header h1 {
    max-width: 50%;

    display: inline-block;
    font-size: 4em;
  }
  section {
   padding-left: 10%;
   padding-right: 10%;
  }
}
