header {
  padding-top: 1em;
  text-align: center;

}

header img {
  max-width: 80%;
  border-radius: 10%;
}

body a {
  color: #003;
}

header ul {
  width: 100%;
  background-color: #498391;
}

header a {
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.5em;
}

section img {
  max-width: 90%;
  margin: auto;
  border: solid 10px #E0072B;
}



a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}



@media only screen and (min-width: 640px) {

  header {
    text-align: left;
  }
  header li {
    display: inline-block;
  }

  header img {
    width: 25%;
    border-radius: 10%;
    display: inline-block;
  }


  section {
   padding-left: 10%;
   padding-right: 10%;
  }
}
